
.briall-icon-ring2:before { content: '\e800'; } /* '' */
.briall-icon-diamond-med:before { content: '\e801'; } /* '' */
.briall-icon-diamond-low:before { content: '\e802'; } /* '' */
.briall-icon-diamond-high:before { content: '\e803'; } /* '' */
.briall-icon-necklace:before { content: '\e804'; } /* '' */
.briall-icon-ring-case:before { content: '\e805'; } /* '' */
.briall-icon-ring:before { content: '\e806'; } /* '' */
