{% extends 'index.html' %}
{% block title %}
<title>Каталог</title>
{% endblock %}
{% block body %}
<!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="container">
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/">Главная</a></li>
            <li class="current">О нас</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

<!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>О нас</h2>
        <p>Чем мы занимаемся</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-5">

          <div class="content col-xl-5 d-flex flex-column" data-aos="fade-up" data-aos-delay="100">
            <h3>Текст</h3>
            <p>
              Текст
            </p>
            <a href="#" class="about-btn align-self-center align-self-xl-start"><span>Ссылка</span> <i class="bi bi-chevron-right"></i></a>
          </div>

          <div class="col-xl-7" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">

              <div class="col-md-6 icon-box position-relative">
                <i class="bi bi-briefcase"></i>
                <h4><a href="" class="stretched-link">Продажа оборудования</a></h4>
                <p>Оборудование для ювелирный магазинов</p>
              </div><!-- Icon-Box -->

              <div class="col-md-6 icon-box position-relative">
                <i class="bi bi-gem"></i>
                <h4><a href="" class="stretched-link">Продажа камней</a></h4>
                <p>Большой выбор камней</p>
              </div><!-- Icon-Box -->

              <div class="col-md-6 icon-box position-relative">
                <i class="bi bi-broadcast"></i>
                <h4><a href="" class="stretched-link">Работы на заказ</a></h4>
                <p>Сделаем украшения по вашим желаниям</p>
              </div><!-- Icon-Box -->

              <div class="col-md-6 icon-box position-relative">
                <i class="bi bi-easel"></i>
                <h4><a href="" class="stretched-link">Еще что-нибудь</a></h4>
                <p>Текст</p>
              </div><!-- Icon-Box -->

            </div>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->

    </section><!-- /Starter Section Section -->

{% endblock %}