{% extends 'index.html' %}
{% block title %}
<title>Каталог</title>
{% endblock %}
{% block body %}
<!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="container">
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/">Главная</a></li>
            <li class="current">Каталог</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->
<!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Каталог</h2>
        <p>Наши ювелирные изделия</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">Все</li>
            <li data-filter=".filter-earring">Серьги</li>
            <li data-filter=".filter-ring">Кольца</li>
            <li data-filter=".filter-pendant">Подвески</li>
          </ul><!-- End Portfolio Filters -->

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            {% for product in products %}
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-{{ product.type }}">
              <div class="portfolio-content h-100">
                <img src="static/catalog_files/id{{product.id}}/id{{product.id}}_1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <p>{{ product.description }}</p>
                  <a href="static/catalog_files/id{{product.id}}/id{{product.id}}_1.jpg" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{{ url_for('product_detail', product_id=product.id) }}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div>
            {% endfor %}



          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Portfolio Section -->

{% endblock %}

