{% extends 'index.html' %}
{% block title %}
<title>Оборудование</title>
{% endblock %}
{% block body %}

    <!-- About Section -->
    <section id="subabout" class="subabout section portfolio-details">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-lg-6 order-2 order-lg-2">
              <div class="portfolio-details-slider swiper init-swiper">

              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
              </script>

              <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide">
                  <a href="static/assets/img/equipment/img1.jpg" data-gallery="portfolio-gallery-book" class="glightbox preview-link">
                    <img src="static/assets/img/equipment/img1.jpg" alt="">
                  </a>
                </div>
              <div class="swiper-slide">
                  <a href="static/assets/img/equipment/img2.jpg" data-gallery="portfolio-gallery-book" class="glightbox preview-link">
                    <img src="static/assets/img/equipment/img2.jpg" alt="">
                  </a>
                </div>
              <div class="swiper-slide">
                  <a href="static/assets/img/equipment/img3.JPG" data-gallery="portfolio-gallery-book" class="glightbox preview-link">
                    <img src="static/assets/img/equipment/img3.JPG" alt="">
                  </a>
                </div>
              <div class="swiper-slide">
                  <a href="static/assets/img/equipment/img4.png" data-gallery="portfolio-gallery-book" class="glightbox preview-link">
                    <img src="static/assets/img/equipment/img4.png" alt="">
                  </a>
                </div>
              <div class="swiper-slide">
                  <a href="static/assets/img/equipment/img5.jpg" data-gallery="portfolio-gallery-book" class="glightbox preview-link">
                    <img src="static/assets/img/equipment/img5.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-1 content">
            <h3>Оборудование BRIALL</h3>
            <p >
              Ведущие факторы нашего продвижения вперед,это
              <ul>
              <li><i class="bi bi-brightness-high"></i> <span>высокое качество</span></li>
              <li><i class="bi bi-piggy-bank"></i> <span>низкие цены</span></li>
            </ul>
            </p>
            <p > <!--class="fst-italic"-->
              Наша главная задача предъявить вам образцы с ограниченными возможностьями. Мы подготовили наш каталог и предлагаем вам.
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

{% endblock %}