{% extends 'index.html' %}
{% block title %}
<title>Каталог</title>
{% endblock %}
{% block body %}
<!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="container">
        <nav class="breadcrumbs">
          <ol>
            <li class="current">Главная</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Starter Section Section -->
    <section id="starter-section" class="starter-section section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Ювелирное искусство</h2>
        <p>Сайт Briall Concept</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up">
        <p>text</p>
      </div>

    </section><!-- /Starter Section Section -->

{% endblock %}