{% extends 'index.html' %}
{% block title %}
<title>Каталог</title>
{% endblock %}
{% block body %}


<!-- About Section -->
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>О нас</h2>
        <p>Чем мы занимаемся</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-5">


            <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-post="briall_concept/500"
                    data-width="100%"></script>

        </div>

    </div>

</section><!-- /About Section -->


{% endblock %}